/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/* CSS RESET */
body {
    background-color: #e1e5ea;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    margin: 80px 20px;
    text-align: center;
}

table, th, td {
    padding: 20px;
	text-align: left;
}

td:first-child {
	text-align: center;
}

table {
	border-radius: 8px;
}

table tr:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

tr:hover {
	background-color: rgb(165, 165, 165);
}

.table-dsn, .table-mhs {
	box-shadow: 2px 2px 15px rgb(158, 158, 158);
}

th {
	background-color: #a7bbc7;
}

th:first-child {
	border-top-left-radius: 8px;
}

th:last-child {
	border-top-right-radius: 8px;
}

.table, .label, .button-index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.label {
	margin: 20px;
	font-size: 26px;
	font-weight: 800;
}

form {
    margin: auto;
    margin-top: 100px;
    width: max-content;
}

form label {
    width: 100px;
	text-align: left;
}

form input {
	border-radius: 6px;
    height: 18px;
	border: 2px solid rgb(145, 145, 145);
	padding: 2px;
}

.form-input {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

/* form button:hover {
    color: #008CBA;
    background-color: #af8888;
} */

.form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.form-box {
	border-radius: 20px;
	padding: 30px;
	background-color: #faf3f3;
	box-shadow: 5px 3px 10px grey;
}

.data_dsn, .data_mhs {
	margin: 0 20px;
}

a:hover {
	color: black;
}

.button {
	border: 1px solid grey;
	border-radius: 8px;
	background-color: #008CBA;
	padding: 10px;
	color: white;
	box-shadow: 0 0 2px grey;
	margin-top: 20px;
}

.button-search {
	padding: 4px;
	border-radius: 5px;
}

.button-index {
	margin-top: 20px;
}

.button:hover {
	background-color: #ddd;
	color: black;
}